
.side_section {
    width: 25%; /* Sets the width of the sidebar */
    background-color: hsl(0, 33%, 15%); /* Gives the section a distinct background */
    display: flex; /* Allows its content to align */
    flex-direction: column; /* Stacks content vertically */
    align-items: center; /* Centers content horizontally */
    justify-content: center; /* Centers content vertically */
    color: white; /* Ensures text is readable */
}


nav ul li{
    list-style-type: none;
    margin-bottom: 15px;
    
}
nav ul a{
    text-decoration: underline hsl(0, 0%, 40%) 1px;
    text-underline-offset: 7px;
    color: hsl(0, 0%, 40%);
    font-size: 25px;

    
}
nav ul a:hover{
    animation: scale-menu 1s forwards ease-out;

}
.navigation li i {
    margin-right: 5px;
}
.img-container{
    width: 50%;
    height: 20%;
    background-color: white;
    border-radius: 50px;
}

@keyframes scale-menu{
    0%{

    }
    100%{
        font-size: 30px;
        color: aqua;
        text-decoration: underline aqua 1px;
        
    }
}

body {
    display: flex;
    margin: 0;
    height: 100vh; /* Makes the body take up the entire viewport height */
}

.main-section {
    flex: 1; 
    background-color: hsl(0, 33%, 6%); /* Gives it a distinct background */
}

main div{
    width: 80%;
    height: 80%;
    background-color: rgb(189, 198, 55);
}